<!DOCTYPE html>
<html>
<head>
    <title>Visitor List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: auto;
        }
        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid black;
        }
        h1 {
            text-align: center;
        }
        a {
            display: block;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>All Visitors</h1>
    {% if visitors %}
    <table>
        <thead>
            <tr>
                 <th>emp_id</th>
                <th>Name</th>
                <th>Purpose</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>phone_no</th>
                <th>Photo</th>

            </tr>
        </thead>
        <tbody>
            {% for visitor in visitors %}
            <tr>
                <td>{{ visitor[0] }}</td>
                <td>{{ visitor[1] }}</td>
                <td>{{ visitor[2] }}</td>
                <td>{{ visitor[3] }}</td>
                <td>{{ visitor[4] }}</td>
                <td>{{ visitor[5] }}</td>
                
        
            <td>
                 {% if visitor[6] %}
                    <img src="data:image/jpeg;base64,{{ visitor[6]|b64encode }}" alt="Visitor Photo">
                    {% else %}
                    No Image
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p style="text-align:center;">No visitors found.</p>
    {% endif %}

    <a href="/">Add Another Visitor</a>
</body>
</html>
